@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Outfit:wght@300;400;500;600&display=swap");

/* 
  font-family: 'Flow Circular', cursive;
  font-family: 'Outfit', sans-serif; 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    @apply text-slate-900;
  }

  li > a {
    @apply hover:text-orange-600;
  }
}

@layer utilities {
  .main-wrapper {
    @apply w-11/12 sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl mx-auto;
  }

  /* TOP NAVIGATION MENU START */
  .topMenuNav {
    @apply hidden lg:flex flex-row gap-6;
  }

  .topMenuNav li {
    @apply relative;
  }

  .topMenuNav li a {
    @apply flex flex-row gap-2 items-center;
  }

  .topNestedMenu {
    @apply absolute top-10 min-w-max w-48 shadow-md rounded-md overflow-hidden border-t-2 border-t-orange-600 animate-slide-up;
  }

  .topNestedMenu > li > a {
    @apply py-2 px-3 text-slate-600 hover:text-slate-900 bg-slate-50 hover:bg-slate-100;
  }
  /* TOP NAVIGATION MENU END */

  /* LEFT NAVIGATION MENU START */
  .leftMenuNav {
    @apply h-screen flex flex-col;
  }

  .leftMenuNav li {
    @apply relative;
  }

  .leftMenuNav li a {
    @apply py-2 px-4 flex flex-row justify-between items-center hover:bg-slate-100 transition;
  }

  .leftMenuNav li a span {
    @apply line-clamp-1;
  }

  .nestedLeftMenu {
    @apply origin-top overflow-hidden transition;
  }

  .nestedLeftMenu > li > a {
    @apply pl-6 border-l-4 hover:border-l-orange-600 hover:border-l-4 text-slate-500 hover:text-slate-900 bg-slate-100 hover:bg-slate-200 transition;
  }

  /* LEFT NAVIGATION MENU START */

  /* Home Hero Banner Button Style */
  .heroBanner--btn {
    @apply absolute left-0 bottom-6 md:bottom-10 lg:bottom-20 py-2 px-4 lg:py-3 lg:px-6 text-xs sm:text-base md:text-lg lg:text-xl bg-white text-slate-900 font-normal md:font-medium rounded-r uppercase flex flex-row gap-2 items-center;
  }

  /* Home Slider Control Button */
  .homeSlider--btn {
    @apply hidden sm:flex items-center justify-center absolute top-6 lg:top-8 w-10 h-10 bg-white text-gray-400 hover:text-gray-800 cursor-pointer z-10 transition-all shadow-md;
  }

  /* Total Cart Products Price Item */
  .totalPricing--item {
    @apply flex flex-row items-center justify-between;
  }

  /* Button Style */
  .button {
    @apply w-full py-3 px-4 text-center font-semibold rounded transition;
  }

  /* Button With Icon */
  .btn_with_icon {
    @apply flex flex-row items-center justify-between;
  }

  /* Primary Button - With Background */
  .primary-btn {
    @apply bg-orange-600 text-white hover:bg-orange-700 transition;
  }

  /* Secondary Button - Without Background on border */
  .secondary-btn {
    @apply border border-slate-900 transition hover:bg-gray-900 hover:text-white;
  }

  /* Icon Button Style */
  .btn-icon {
    @apply px-2 py-2 rounded-full cursor-pointer hover:bg-slate-100;
  }

  /* Icon Style */
  .icon {
    @apply cursor-pointer text-slate-900 text-lg md:text-2xl;
  }

  .icon-gray {
    @apply text-gray-400 pointer-events-none;
  }

  /* Show the total number `ex. total cart items number display` */
  .count-totalRecord {
    @apply w-5 h-5 md:w-6 md:h-6 flex items-center justify-center absolute -right-1 -top-1 bg-orange-600 text-white aspect-square text-xs md:text-sm rounded-full;
  }

  /* Product Size Select Element */
  .productSize--btn {
    @apply list-none grid grid-cols-4 sm:grid-cols-6 md:grid-cols-4 gap-2;
  }

  .productSize--btn > li {
    @apply py-1 md:py-2 w-full border rounded cursor-pointer text-center uppercase hover:bg-slate-100 hover:border-slate-300 active:scale-95 active:border-slate-700 transition select-none;
  }

  /* ORDER SUMMERY LIST */
  .orderSummery--list {
    @apply py-2 md:py-4 flex flex-col gap-1 border-b;
  }

  .orderSummery--list > li {
    @apply flex flex-row justify-between items-center font-light md:font-normal;
  }

  /* Footer Section */
  .additionalLinks {
    @apply flex flex-col gap-0 sm:gap-1;
  }

  .additionalLinks > li {
    @apply py-1 xl:py-2 px-2 text-sm md:text-base transition hover:bg-slate-200 text-slate-500 hover:text-slate-900 rounded-md;
  }
}
