@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Outfit:wght@300;400;500;600&display=swap");

/* 
  font-family: 'Flow Circular', cursive;
  font-family: 'Outfit', sans-serif; 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    @apply text-slate-900;
  }

  li > a {
    @apply hover:text-orange-600;
  }
}

@layer utilities {
  .main-wrapper {
    @apply w-11/12 sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl mx-auto;
  }

  /* Home Hero Banner Button Style */
  .heroBanner--btn {
    @apply absolute left-0 bottom-6 md:bottom-10 lg:bottom-20 py-2 px-4 lg:py-3 lg:px-6 text-xs sm:text-base md:text-lg lg:text-xl bg-white text-slate-900 font-normal md:font-medium rounded-r uppercase flex flex-row gap-2 items-center;
  }

  /* Home Slider Control Button */
  .homeSlider--btn {
    @apply hidden sm:flex items-center justify-center absolute top-6 lg:top-8 w-10 h-10 bg-white text-gray-400 hover:text-gray-800 cursor-pointer z-10 transition-all shadow-md;
  }

  /* Total Cart Products Price Item */
  .totalPricing--item {
    @apply flex flex-row items-center justify-between;
  }

  /* Button Style */
  .button {
    @apply w-full py-3 px-4 text-center capitalize font-semibold rounded transition;
  }

  /* Button With Icon */
  .btn_with_icon {
    @apply flex flex-row items-center justify-between;
  }

  /* Primary Button - With Background */
  .primary-btn {
    @apply bg-orange-600 text-white hover:bg-orange-700 transition;
  }

  /* Secondary Button - Without Background on border */
  .secondary-btn {
    @apply border border-slate-900 transition hover:bg-gray-900 hover:text-white;
  }

  /* Icon Button Style */
  .btn-icon {
    @apply px-2 py-2 rounded-full cursor-pointer hover:bg-slate-100;
  }

  /* Icon Style */
  .icon {
    @apply cursor-pointer text-slate-900 text-lg md:text-2xl;
  }

  .icon-gray {
    @apply text-gray-400 pointer-events-none;
  }

  /* Show the total number `ex. total cart items number display` */
  .count-totalRecord {
    @apply w-5 h-5 md:w-6 md:h-6 flex items-center justify-center absolute -right-1 -top-1 bg-orange-600 text-white aspect-square text-xs md:text-sm rounded-full;
  }

  /* Product Size Select Element */
  .productSize--btn {
    @apply list-none grid grid-cols-4 sm:grid-cols-6 md:grid-cols-4 gap-2;
  }

  .productSize--btn > li {
    @apply py-1 md:py-2 w-full border rounded cursor-pointer text-center uppercase hover:bg-slate-100 hover:border-slate-300 active:scale-95 active:border-slate-700 transition select-none;
  }
}
